body {
  font-family: "Poppins", sans-serif;
}
.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 10px;
}
.jumbotron h1 {
  letter-spacing: 2.5px;
  font-size: 3.5em;
}
.jumbotron h1,
.jumbotron p {
  text-align: center;
}
#googleMap {
  width: 80%;
  height: 400px;
  margin: 10px auto;
}
#output {
  text-align: center;
  font-size: 20px;
  margin-left: -30vw;
  width: 60vw;
  color: black;
  margin-top: 10px;
}
#mode {
  color: black;
}
.temp{
  display:flex;
  width:60vw;
  margin-left: 15vw;
}
.parent{
  display: flex;
  margin-top: 32px;
}
.form-group{
  display: flex;
}
.textfield{
  margin-left: 20px;
  margin-right: 40px;
}
.btn{
  margin-top: 20px;
}